<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modification</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body th:style="'background-color:#2c3034'">
<nav class="navbar bg-dark fixed-top" data-bs-theme="dark" th:style="'display:flex;flex-direction:row;'">
    <div class="container-fluid">
        <img th:src="@{/images/dark.png}" alt="Exemple d'image" th:style="'width:50px ;height:50px;border-radius:100%;'">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:style="'display:flex;flex-direction:row;'">
            <li class="nav-item" th:style="'margin-left:520px;'">
                <a class="nav-link" aria-current="page" th:href="@{/}">Accueil</a>
            </li>
            <li class="nav-item" th:style="'margin-left:20px;'">
                <a class="nav-link" th:href="@{/employees}">Liste des employés</a>
            </li>
            <li class="nav-item" th:style="'margin-left:20px;'">
                <a class="nav-link" th:href="@{/employees/add}">Nouveau employé</a>
            </li>
        </ul>
        <form th:action="@{/logout}" method="post" th:style="'margin-left:100px'">
            <input class="btn btn-outline-primary" type="submit" value="Se déconnecter" />
        </form>
    </div>
</nav>
<form th:action="@{/update/{id}(id=${employee.id})}"
      th:object="${employee}"
      method="post"
      enctype="multipart/form-data" class="shadow" th:style="'margin: 100px 0px 0px 470px;width: 600px;padding: 20px 20px 20px 20px'">
    <input type="text" class="form-control" id="id" th:field="*{id}" name="id" hidden>
    <div class="mb-3" >
            <label for="name" class="form-label" th:style="'color:white;'">Nom</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" name="name">
        </div>
        <div class="mb-3">
            <label for="first_name" class="form-label" th:style="'color:white;'">Prénom(s)</label>
            <input type="text" class="form-control" id="first_name" th:field="*{first_name}" name="first_name">
        </div>
        <label th:style="'color:white;'">Sexe:
            <select name="sexe" class="form-select" aria-label="Default select example">
                <option th:each="sexe : ${T(com.example.Prog4.model.Gender).values()}" th:value="${sexe}" th:text="${sexe}"></option>
            </select>
        </label><br/>
        <div class="mb-3">
            <label for="birthday" class="form-label" th:style="'color:white;'">Date de naissance</label>
            <input type="date" class="form-control" id="birthday" th:field="*{birthday}" name="birthday">
        </div>
        <div class="mb-3">
            <label for="location" class="form-label" th:style="'color:white;'">Adresse</label>
            <input type="text" class="form-control" id="location" th:field="*{location}" name="location">
        </div>
         <br>
        <div class="mb-3">
            <label class="form-label" th:style="'color:white;'">CIN :</label>
            <br>
            <label for="number" class="form-label" th:style="'color:white;'">Numéro de délivrance</label>
            <input type="text" class="form-control" id="number" th:field="*{cin.number}" /><br>
            <label for="date" class="form-label" th:style="'color:white;'">Date de délivrance</label>
            <input type="date" class="form-control" id="date" th:field="*{cin.issue_date}" /><br>
            <label for="located" class="form-label" th:style="'color:white;'">Lieu de délivrance</label>
            <input type="text" class="form-control" id="located" th:field="*{cin.issue_location}" /><br>
        </div>
        <div class="mb-3">
            <label for="function" class="form-label" th:style="'color:white;'">Fonction</label>
            <input type="text" class="form-control" id="function" th:field="*{function}" name="function">
        </div>
        <div class="mb-3">
            <label class="form-label" th:style="'color:white;'">Ajouter une photo</label>
            <input type="file" class="form-control" th:field="*{photos}" accept="image/png, image/jpeg" name="photos">
        </div>
        <div class="mb-3">
            <label for="children_number" class="form-label" th:style="'color:white;'">Nombre d'enfant à sa charge</label>
            <input type="number" class="form-control" id="children_number" th:field="*{children_number}" name="children_number">
        </div>
        <div class="mb-3">
            <label for="email_perso" class="form-label" th:style="'color:white;'">Email personnel</label>
            <input type="text" class="form-control" id="email_perso" th:field="*{email_perso}" name="email_perso">
        </div>
        <div class="mb-3">
            <label for="email_pro" class="form-label" th:style="'color:white;'">Email professionnel</label>
            <input type="text" class="form-control" id="email_pro" th:field="*{email_pro}" name="email_pro">
        </div>
        <div class="mb-3">
            <label for="starting_date" class="form-label" th:style="'color:white;'">Date d'embauche</label>
            <input type="date" class="form-control" id="starting_date" th:field="*{starting_date}" name="starting_date">
        </div>
        <div class="mb-3">
        <label for="closing_date" class="form-label" th:style="'color:white;'">Date de départ</label>
        <input type="date" class="form-control" id="closing_date" th:field="*{closing_date}" name="closing_date">
        </div>
        <label class="form-label" th:style="'color:white;'">Catégorie socio-professionnel</label>
        <select name="csp" class="form-select" aria-label="Default select example">
            <option th:each="cspOpt : ${T(com.example.Prog4.model.CspType).values()}"
                    th:value="${cspOpt}" th:text="${cspOpt}" th:style="'color:black;'"></option>
        </select>
        <div class="mb-3">
            <label for="cnaps" class="form-label" th:style="'color:white;'">Numero CNAPS</label>
            <input type="text" class="form-control" id="cnaps" th:field="*{cnaps}" name="cnaps">
        </div>
        <div class="mb-3">
            <label for="matricule" class="form-label" th:style="'color:white;'">Matricule</label>
            <input type="text" class="form-control" id="matricule" th:field="*{matricule}" name="matricule">
        </div>
        <label for="phoneNumbers" class="form-label" th:style="'color:white;'">Numero de téléphone :</label>
        <input type="text" class="form-control" id="phoneNumbers" name="numeros" th:field="*{numeros}">
        <div th:style="'margin-top:30px;margin-left:50px;'">
            <button type="submit" class="btn btn-primary">Ajouter</button>
            <a type="button" class="btn btn-secondary" th:href="@{/employees}" th:style="'margin-left:300px;'">Annuler</a>
        </div>
</form>
</body>
</html>
