<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Employe</title>
</head>
<body th:style="'background-color:#2c3034'">
<div th:if="${employee}" >
    <div th:style="'display: flex;flex-direction: row;'">
        <div>
            <p th:style="'color:white;'">Nom: <span th:text="${employee.name}" th:style="'text-transform: uppercase;color:white;'"></span></p>
            <p th:style="'color:white;'">Prénom(s): <span th:text="${employee.first_name}" th:style="'color:white;'"></span></p>
            <p th:style="'color:white;'">Matricule: <span th:text="${employee.matricule}" th:style="'color:white;'"></span></p>
        </div>
    </div>

</div>
<div th:unless="${employee}">
    <p>Employé introuvable !</p>
</div>
</body>
</html>